* {
    font-family: ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
}

/* navBar Css */

header img,
div img {
    height: 50px;
}


.searchIcon {
    border: 1px solid white;

    height: 40px;
    border-right: 0;
    border-radius: 0;
    background-color: transparent;
}

.searchIcon:hover {
    background-color: #242424;
    ;
    border-color: white;
}



.conten {

    /* position: fixed; */
    /* top: 5px; */
    z-index: 5;
}

.Search {
    border: 1px solid white;
    height: 40px;
    width: 40vw;
    background-color: transparent;
    border-left: 0;
}

.Search::placeholder {
    color: white;
}

.btns1:focus,
.btns1:focus-visible,
.btns2:focus,
.btns2:focus-visible,
.Search:focus,
.Search:focus-visible,
.btns3:focus,
.btns3:focus-visible,
.searchIcon:focus,
.searchIcon.btns1:focus-visible,
.btns1-1:focus,
.btns2-1:focus,
.btns1-1:focus-visible,
.btns2-1:focus-visible {
    outline: none;
}

.btns1 {
    background-color: transparent;
    border-radius: 0;
    border: 0;
}

.btns1:hover {
    background-color: rgb(76, 86, 100);
}

.btns2 {
    background-color: #ae7aff;
    color: black;
    border-radius: 0;
    border: 0;
    box-shadow: 5px 4px 0 rgb(76, 86, 100);
}

.btns3 {
    display: none;
}

.btns4 {
    display: none;
}

.btns1-1,
.btns2-1 {
    display: none;
}

.btns2:active {
    box-shadow: 0px 0px 0 #ae7aff;
    transform: translate(4px, 4px);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

@media only screen and (max-width: 650px) {

    .hide .Search,
    .btns1,
    .btns2 {
        display: none;
    }


    .btns1-1 {
        background-color: #ae7aff;
        color: black;
        position: relative;
        top: 80px;
        left: 80px;
        display: block;
        border-radius: 0;
        border: 0;
        height: 60px;
        width: 200px;
        box-shadow: 8px 8px 0 rgb(76, 86, 100);

    }

    .mens {
        display: block;
        width: 300px;
        background-color: rgb(185, 122, 122);
        height: 500px;
        position: fixed;
        right: 0px;
        top: 0;
    }

    .mens:active {
        right: 0;
    }

    .btns2-1 {
        display: block;
        background-color: #ae7aff;
        color: black;
        position: relative;
        top: 130px;
        left: 80px;
        border-radius: 0;
        border: 0;
        height: 60px;
        width: 200px;
        box-shadow: 8px 8px 0 rgb(76, 86, 100);
    }

    .btns2-1:active,
    .btns1-1:active {
        box-shadow: 0px 0px 0 #ae7aff;
        transform: translate(4px, 4px);
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }

    .searchIcon {
        border: 0;
        position: fixed;
        top: 23px;
        height: 40px;
        right: 60px;
    }

    .btns3 {
        background-color: transparent;
        display: block;
        color: rgb(255, 255, 255);
        position: fixed;
        right: 10px;
        border-radius: 0;
        border: 0;
    }

    .btns3:hover {
        color: rgb(179, 109, 245);
    }

    .btns4 {
        background-color: transparent;
        display: block;
        color: rgb(255, 255, 255);
        position: relative;
        left: 230px;
        border-radius: 0;
        border: 0;
    }
}

@media only screen and (max-width:790px) {
    .pos {
        display: block;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

}



/* left menu css */

* {
    margin: 0;
    padding: 0;
}

.sidebarl {
    height: calc(100vh - 72px);
    width: 200px;
    background-color: transparent;
    border-right: 1px solid white;

    /* transition: all 1000ms ease-out; */
}

.sidebarl .menul {
    /* position: absolute; */
    width: 97%;
}

.sidebarl .menul li {
    margin-top: 5px;
    padding: 6px 13px;
    border: 1px solid white;
    /* transition: all 350ms ease-in-out; */
    list-style: none;
    display: flex;
    cursor: pointer;
}

.sidebarl .menul li:hover {
    background-color: rgb(59 130 246);
}

.sidebarl .menul,
a {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.sidebarl .menul .iconsss,
a:hover {
    color: white;
}

.sidebarl .menul .iconsss {
    padding: 0 6px;
}

.supportl {
    position: fixed;
    bottom: 8vh;
    width: 193px;
    /* transition: all 1000ms ease-out; */
}

.settingsl {
    position: fixed;
    bottom: 1vh;
    width: 193px;
}

@media only screen and (max-width:750px) {
    .sidebarl .menul a {
        display: none;
    }

    .sidebarl {
        width: 70px;
    }

    .settingsl,
    .supportl {
        width: 66px;
    }

}

@media only screen and (max-width:650px) {
    .sidebarl {
        display: none;
    }
}


/* right menu css */


.inputhider {
    display: none;
}

#click:checked~.sidebarr {
    display: block;
}

.sidebarr {
    width: 210px;
    background-color: #242424;
    border-left: 1px solid white;
    right: -250px;
    top: -35px;
    display: none;
    transition: all 1000ms ease-out;
}

.barr {
    font-size: 20px;
    position: fixed;
    right: 30px;
    z-index: 4;
    display: none;
}


.sidebarr {
    font-size: 15px;
    position: absolute;
    margin-top: 30px;
    z-index: 2;
}

.sidebarr .menur {
    position: absolute;
    margin-top: 60px;
    width: 95%;
}

.imges {
    margin-bottom: 100px;
    position: fixed;
    top: 20px;
}

.sidebarr .menur li {
    margin-top: 5px;
    padding: 6px 13px;
    border: 1px solid white;
    transition: all 350ms ease-in-out;
    list-style: none;
}

.sidebarr .menur li:hover {
    background-color: blueviolet;
}

.sidebarr .menur .iconsss,
a {
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}


.btns1-menu {
    background-color: transparent;
    position: absolute;
    right: 8px;
    top: 70vh;
    border-radius: 0;
    border: 0;
    width: 170px;
}

.btns1-menu:hover {
    background-color: rgb(76, 86, 100);
}

.btns2-menu {
    background-color: #ae7aff;
    color: black;
    position: absolute;
    right: 8px;
    border-radius: 0;
    border: 0;
    box-shadow: 5px 4px 0 rgb(76, 86, 100);
    width: 170px;
    top: 80vh;
}

.btns2-menu:active {
    box-shadow: 0px 0px 0 #ae7aff;
    transform: translate(4px, 4px);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

@media only screen and (max-width:650px) {
    .barr {
        display: block;
    }

    #click:checked~.sidebarr {
        right: 0px;
    }
}

/* Bottum menu css */

.sidebarb {
    display: none;
}

@media only screen and (max-width:650px) {
    .sidebarb {
        display: inline;
        position: fixed;
        border-top: 1px solid white;
        right: 0;
        left: 0;
        bottom: 0;
        /* top: 94vh; */
    }


    .sidebarb ul {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 2fr;
        flex-shrink: 2 1 1 1;
    }

    .sidebarb ul li {
        margin-top: 8px;
        text-align: center;
    }

}




/* Main contents css */

.main-content {
    /* background-color: white; */
    position: absolute;
    top: 80px;
    left: 210px;
    bottom: 0;
    right: 0;
    height: calc(100vh - 80px);
    overflow-y: auto;
    ;
}

@media only screen and (max-width:750px) {
    .main-content {
        left: 80px;
    }
}

@media only screen and (max-width:650px) {
    .main-content {
        left: 0;
        bottom: 55px;
        height: calc(100vh - 135px);
    }
}


/* privacy Header Css */


.prcconten {
    padding: 15px;
    width: 100%;
    height: 80px;
    margin-top: 0;
    display: contents;
    position: fixed;
    top: 5px;
    z-index: 5;
}

.privac {
    display: flex;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
}

.privac ul li {
    overflow: hidden;
    float: left;
    padding: 0 25px;
    margin: 10px;
}

.privac ul :hover {
    background-color: #ae7aff;
    color: black !important;
}

.btns1p {
    background-color: transparent;
    position: fixed;
    right: 120px;
    border-radius: 0;
    border: 0;
}

.btns1p:hover {
    background-color: rgb(76, 86, 100);
}

.btns2p {
    background-color: #ae7aff;
    color: black;
    position: fixed;
    right: 10px;
    border-radius: 0;
    border: 0;
    box-shadow: 5px 4px 0 rgb(76, 86, 100);
}


.btns1p-1,
.btns2p-1 {
    display: none;
}

.btns2p:active {
    box-shadow: 0px 0px 0 #ae7aff;
    transform: translate(4px, 4px);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

@media only screen and (max-width: 850px) {

    .btns1p,
    .btns2p,
    .privac ul {
        display: none;
    }
}

#click:checked~.sidebarp {
    right: -250px;
}

.sidep {
    width: 210px;
    position: fixed;
    right: -1px;
    margin-left: 10px;
    top: 5px;
    height: 100%;
    /* border-left: 1px solid white; */
    display: none;
}

.sidebarp {
    width: 210px;
    background-color: #242424;
    border-left: 1px solid white;
    right: -250px;
    top: -35px;
    transition: all 1000ms ease-out;
}

.barp {
    font-size: 20px;
    position: fixed;
    right: 30px;
    z-index: 4;
    display: none;
}


.sidebarp {
    font-size: 15px;
    position: absolute;
    margin-top: 30px;
    z-index: 2;
}

.sidebarp .menup {
    position: absolute;
    margin-top: 60px;
    width: 95%;
}

.imges {
    margin-bottom: 100px;
    position: absolute;
    top: -60px;
    right: 150px;
}

.sidebarp .menup li {
    margin-top: 5px;
    padding: 6px 13px;
    border: 1px solid white;
    transition: all 350ms ease-in-out;
    list-style: none;
}

.sidebarp .menup li:hover {
    background-color: blueviolet;
}

.sidebarp .menup,
a {
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}


.btns1p-menup {
    background-color: transparent;
    position: absolute;
    right: 8px;
    top: 70vh;
    border-radius: 0;
    border: 0;
    width: 170px;
}

.btns1p-menup:hover {
    background-color: rgb(76, 86, 100);
}

.btns2p-menup {
    background-color: #ae7aff;
    color: black;
    position: absolute;
    right: 8px;
    border-radius: 0;
    border: 0;
    box-shadow: 5px 4px 0 rgb(76, 86, 100);
    width: 170px;
    top: 80vh;
}

.btns2p-menup:active {
    box-shadow: 0px 0px 0 #ae7aff;
    transform: translate(4px, 4px);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

@media only screen and (max-width:850px) {

    .barp,
    .sidep {
        display: block;
    }

    #click:checked~.sidebarp {
        right: 0px;
    }

    .privac {
        margin-bottom: 0;
    }
}

.hrline {
    height: 0px;
    margin: 50px 0 80px 0;
    border: 1px solid white;
}

.imgesbottoms {
    position: sticky;
    bottom: 1px;
    left: 1px;
}

.textbottoms {
    position: absolute;
    right: 1px;
}


/* privacy css */

.respon {
    margin: 0 80px;
}

@media only screen and (max-width:1000px) {
    .respon {
        margin: 0 70px;
    }
}

@media only screen and (max-width:650px) {
    .respon {
        margin: 0 15px;
    }
}

.respon h4 {
    margin: 30px 0 20px 0;
    line-height: 2.25rem;
    font-size: 1.875rem;
}

.respon p {
    margin-bottom: 1rem;
}

.hrliness {
    margin: 50px 0;
}



/* login css */

.contener {
    position: fixed;
    top: 1vh;
    background-color: rgb(18, 18, 18);
}

div figure img {
    position: relative;
    display: flex;
    margin: 0 auto;
    height: 50px;
}

figure {
    margin: auto;
    margin-top: 0;
    height: 100px;
}

.logincon {
    width: 500px;
    margin-top: -40vh;
}

.logincon input {
    height: 50px;
    margin: 0 0 15px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    background-color: transparent;
}

.logincon button {
    background-color: rgb(174 122 255);
}

@media only screen and (max-width:750px) {
    .logincon {
        width: 70vw;
    }
}

@media only screen and (max-width:350px) {
    .logincon {
        width: 90vw;
    }
}

@media only screen and (max-width:250px) {
    .logincon {
        width: 120vw;
    }
}




/* Sign up css */
.singupcon {
    width: 500px;
    margin-top: -30vh;
}

.singupcon input {
    height: 50px;
    margin: 0 0 15px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    background-color: transparent;
}

.singupcon button {
    background-color: rgb(174 122 255);
}

@media only screen and (max-width:750px) {
    .singupcon {
        width: 70vw;
    }
}

@media only screen and (max-width:350px) {
    .singupcon {
        width: 90vw;
    }
}

@media only screen and (max-width:250px) {
    .singupcon {
        width: 120vw;
    }
}


/*All Videos css */
.all-Videos-main {
    color: white;
}

.row p {
    margin: 0;
}

.font-sizess {
    font-weight: 700;
}

.all-Videos-main .row img {
    position: relative;
    width: 100%;
    height: 200px;
}

.all-Videos-main .row .profile-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px;
    float: left;
}



/* Video Details css */
.video-main .row {
    overflow-y: auto;
}

.col-7 {
    height: 100%;
}

.video {
    height: 380px;
}

.row .left-side .col-12 img {
    position: relative;
    width: 100%;
    height: 100px;
}


.row .right-side .col-12 img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin: 10px;
    margin-bottom: 35px;
    float: left;
}

.row .right-side .row .col-12 div .bottons-like {
    border: 1px solid white;
    border-right: 0;
    font-size: 12px;
    width: 80px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    background-color: transparent;
    float: right;
}

.row .right-side .row .col-12 div {
    width: 100%;

}

.row .right-side .row .col-12 div .bottons-dislike {
    border: 1px solid white;
    border-radius: 0 10px 10px 0;
    background-color: transparent;
    width: 60px;
    font-size: 12px;
    height: 40px;
    float: right;
}

.row .right-side .row .col-12 div .bottons-folder {
    background-color: white;
    border: 0;
    font-family: 12px;
    padding: 0 8px;
    margin: 0 5px;
    float: right;
    height: 40px;
    color: black;
}

.subscribe-buttons {
    background-color: #ae7aff;
    color: black;
    border-radius: 0;
    border: 0;
    box-shadow: 5px 4px 0 rgb(76, 86, 100);
    float: inline-end;
    margin-top: 15px;
}

.hiddens {
    display: none;
}

.hiddens2 {
    display: none
}

.hiddens:checked+.hiddens1 {
    display: none;
}

.hiddens:checked~.hiddens2 {
    display: inline-block;
}


.subscribe-buttons:active {
    box-shadow: 0px 0px 0 #ae7aff;
    float: right;
    transform: translate(4px, 4px);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

@media only screen and (max-width:650px) {
    .comments {
        height: 40px;
        overflow: hidden;
    }

    .comments:active {
        height: 100%;
        overflow: auto;
    }
}


.comment-box {
    height: 30px;
}

.comment-box::placeholder {
    padding: 10px;
    color: white;
}

.row .left-side .row .col-12 div {
    display: flex;
    margin: 5px;
}

.row .left-side .row .col-12 {
    display: flex;
    border: 1px solid white;
    height: 110px;
    margin: 5px 0;
    padding: 0;
}

.row .left-side .row .col-12 img {
    width: 170px;
}

@media only screen and (max-width:1200px) {
    .row .left-side .row .col-12 img {
        width: 250px;
        height: 150px;
    }

    .row .left-side .row .col-12 {
        height: 160px;
    }
}

@media only screen and (max-width:650px) {
    .row .left-side .row .col-12 img {
        width: 100%;
        height: 300px;
    }

    .row .left-side .row .col-12 {
        height: 410px;
    }

    .row .left-side .row .col-12 {
        display: block;
    }
}


/* dashboard css */

.total {
    height: 150px;
    width: 30%;
    margin-bottom: 0;
    /* margin: 10px; */
    margin: 20px auto;
}
.total div .text-dark {
    height: 40px;
    width: 40px;
    margin: 10px;
    padding: 5px;
}

.profile-icons {
    height: 50px;
    width: 60px;
}

.dashboard-table tr {
    border: 1px solid white;
}

.dashboard-table tr th {
    height: 50px;
}

.dashboard-table tr td {
    /* height: 60px; */
    padding: 10px;
}
tr button{
    border: 0;
}


.uploadbotton{
    border: 0;
    background-color: rgb(174 122 255);
    color: black;
}



/* upload css */


.upload-div{
    position: fixed;
    height:600px;
    right: 150px;
    background-color: black;
    width: 1050px;
    overflow-y: auto;
    border: 1px solid white;
}

.upload-div div:first-child{
    margin: 10px 0;
    width: 100%;
}


.upload-icon{
    border: 1px dashed white;
    width: 75%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}
.upload-icon-icon{
    background-color: #ae7aff;
    width: 150px;
    margin: auto;
    height: 120px;
    font-size: 100px;
    border-radius: 100%;
}

.upload-icon input{
    display: none;
}
.upload-icon button{
background-color:#ae7aff;
border: 0;
}
#files::file-selector-button{
    background-color: #ae7aff;
    border: 0;
    height: 38px;
    color: black;
    width: 120px;
    margin:5px;
}
.filess{
    padding: 0;
    border: 1px solid white;
    border-radius: 0;
    text-align: start;
    width: 75%;
    height: 50px;
    background-color: transparent;
}

.labless{
    width: 75%;
    text-align: start;
}


#description{
    height: 200px;
}
.filess:hover{
    border-color:white;
}

.modal-header{
    background-color: #242424;
    color: white;
}
.modal-body{
    background-color: #242424;
    color: white;
}